@import "tailwindcss"; 

@theme {
    --color-custom-primary-red: #E50914;    

    --color-custom-secundary-red: #f25058;

    --color-custom-light-red: #F7CAC9;

    --color-custom-charcoal: #331e1f;
    
    --color-custom-background-sand: #ffeee6; /* #fff2de */
}