@import "tailwindcss";

@font-face {
  font-family: "Noto Sans";
  font-weight: 100 900;
  src: url("../src/assets//fonts/NotoSans-VariableFont_wdth\,wght.ttf"), format("ttf");
}

@theme {
  --font-noto-sans: "Noto Sans", sans-serif;
}


@theme {
    --color-custom-primary-red: #E50914;    

    --color-custom-secundary-red: #f25058;

    --color-custom-light-red: #F7CAC9;

    --color-custom-charcoal: #331e1f;
    
    --color-custom-background-sand: #ffeee6; /* #fff2de */
}